/* Reglas de CSS para Maquetar una Pagina Basica con Estructura HTML5 y CSS*/
/*Creado por Ing. Juancito Peña*/

/* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/

* {
    margin: 0;
    padding: 0;
}

/* 2DA Regla para el Body */

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

}

/* 3ERA Regla para el Contenedor de mi Pagina Web */

.container {
    width: 70%;
    height: 100%;
    color: black;
    margin: 0px auto;
    border-radius: 5px;
    border: 5px solid #efe30a;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 4TA Regla para el Encabezado o Header */

header{
    color: white;
    font-size: 30px;
    text-align: center;
    background: url(/3-MAQUETA_BASICA_HTML_Y_CSS-REPONSIVA/imagen/zejaja.png);
    width:100%;
    height:100%;
    text-align: center;
    line-height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
}

/*5TA REGLA */

 nav{
    display: flex;
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color:#291711;
    color: white;
    justify-content: space-between;
} 
.logo{
width: 300px;
height: auto;
overflow: hidden;
height: 100px;

}
img{
  width: 130px;
  height: auto;
}
.barra{
  display: flex;
  list-style: none;
  padding: 10px;
  align-items: center;
}
.barra li{
  margin-left: 10px;
 
  font-size: 25px;
  
  border-radius: 20px;
}
.barra li a{
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
}
  /* 6TA Regla */

 #contenido{
    width:70%;
    height:100vh;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

    float: left;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:100px;
    overflow: hidden;
}
#contenido article img{
  width: 100%;
  
}


  /* 8VA Regla */

#contenido h2{
    font-size: 30px;
    text-align: center;
    line-height: 600px;
    color: white;
}

  /* 9NA Regla */ 

.aside{
    width:29%;
    height:600px;
    background-color: #FFFFFF;
background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);
display: flex;
    float: right;
    margin-top: 10px;
    align-items: center;

}
.aside img{
  width: 100%;
}

  /* 9NA Regla */

aside h2{
    font-size: 20px;
    text-align: center;
    line-height: 400px;
    color: white;
}

.clearfix{
    clear: both;
} 

  /* Sectima Regla para el estiolo  del footer */

footer{
    background-color: #750984;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border-top: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
}


/* 10MA Regla para el estilo del movil de 300 a 768  */

@media (max-width: 768px) and (min-width: 300px) {
       
/* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/

* {
  margin: 0;
  padding: 0;
}

/* 2DA Regla para el Body */

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(254, 17, 17);
}

/* 3ERA Regla para el Contenedor de mi Pagina Web */

.container {
  width: 95%;
  height: 100%;
  color: black;
  margin: 0px auto;
  border-radius: 5px;
  border: 5px solid #efe30a;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #ffffff;
  margin-top: 1px;
  margin-bottom: 1px;
}

/*5TA REGLA */

nav{
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color:orange;
  color: white;
} 

/* 6TA Regla */

#contenido{
  width:100%;
  height:100%;
  background-color: rgb(65, 231, 87);
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height:100px;
}

aside{
  width:100%;
  height:600px;
  background-color: green;
  float: right;
  margin-top: 10px;

}
}
  

/* 10MA Regla para el estilo del movil de 300 a 768  */

@media (max-width: 1024px) and (min-width: 769px) {
       
  /* 1ERA Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  /* 2DA Regla para el Body */
  
  body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(254, 17, 17);
  }
  
  /* 3ERA Regla para el Contenedor de mi Pagina Web */
  
  .container {
    width: 95%;
    height: 100%;
    color: black;
    margin: 0px auto;
    border-radius: 5px;
    border: 5px solid #efe30a;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  /*5TA REGLA */
  
  nav{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color:orange;
    color: white;
  } 
  
  /* 6TA Regla */
  
  #contenido{
    width:100%;
    height:100%;
    background-color: rgb(65, 231, 87);
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height:100px;
  }
  
  aside{
    width:100%;
    height:600px;
    background-color: green;
    float: right;
    margin-top: 10px;
  
  }
  }
    
  